* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/montserrat-v14-latin-regular.woff) format(woff);
    src: url(../fonts/montserrat-v14-latin-regular.woff2) format(woff2);
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/montserrat-v14-latin-700.woff) format(woff);
    src: url(../fonts/montserrat-v14-latin-700.woff2) format(woff2);
}

@font-face {
    font-family: Montserrat;
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/montserrat-v14-latin-italic.woff) format(woff);
    src: url(../fonts/montserrat-v14-latin-italic.woff2) format(woff2);
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/roboto-slab-v9-latin-regular.woff) format(woff);
    src: url(../fonts/roboto-slab-v9-latin-regular.woff2) format(woff2);
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.navigation {
    padding-top: 30px;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

.header {
    padding-bottom: 50px;
}

li {
    list-style: none;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-list a {
    font-family: Montserrat, sans-serif;
    color: #222222;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-list li {
    margin-right: 40px;
}

.nav-list :last-child {
    margin-right: 0;
}

.nav-list a:hover {
    color: #eebb0b;
}

.background-1 {
    background: #ffffff;
}

.title-service {
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title-description {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
}

.title-description2 {
    font-family: Montserrat, sans-serif;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
}

.bi1::before {
    background-image: url(../images/e-commerce.png);
}

.bi2::before {
    background-image: url(../images/responsive.png);
}

.bi3::before {
    background-image: url(../images/security.png);
}

.services {
    padding-top: 50px;
    padding-bottom: 80px;
}

.services-item::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
}

.services-item {
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.block-title {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 13px;
}

.block-description {
    font-family: Roboto Slab, sans-serif;
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 400;
    text-align: center;
}

.background-2 {
    background-image: url(../images/Background2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contuct-us {
    padding-top: 80px;
}

.title-contuct {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.wrapper2 {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 115px;
}

.placeholders {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.slim {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 455px;
    height: 190px;
    color: #030303;
    font-size: 20px;
    padding: 0;
}

.place {
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
}

.place::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-left: 20px;
    text-transform: uppercase;
    color: #bbbbbb;
}

.message {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-left: 20px;
    text-transform: uppercase;
    color: #bbbbbb;
    border: 1px solid rgb(0, 0, 0);
    width: 455px;
    height: 190px;
    padding-top: 20px;
}

.button {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fed136;
    width: 240px;
    height: 60px;
    border-radius: 5px;
    padding: 0;
    border-style: none;
    display: block;
    margin: 0 auto;
}

.sing-up input[type="email"]:valid {
    outline-color: rgb(0, 255, 76);
}

.sing-up input[type="email"]:invalid {
    outline-color: #ff0000;
}

.sing-up input[type="name"]:valid {
    outline-color: rgb(0, 255, 76);
}

.sing-up input[type="name"]:invalid {
    outline-color: #ff0000;
}

.sing-up textarea:focus:valid {
    outline-color: rgb(0, 255, 76);
}

.sing-up textarea:focus:invalid {
    outline-color: #ff0000;
}