 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 @font-face {
     font-family: Montserrat;
     font-style: normal;
     font-weight: 400;
     src: url(../fonts/montserrat-v14-latin-regular.woff) format(woff);
     src: url(../fonts/montserrat-v14-latin-regular.woff2) format(woff2);
 }
 
 @font-face {
     font-family: Montserrat;
     font-style: normal;
     font-weight: 700;
     src: url(../fonts/montserrat-v14-latin-700.woff) format(woff);
     src: url(../fonts/montserrat-v14-latin-700.woff2) format(woff2);
 }
 
 @font-face {
     font-family: roboto;
     font-style: normal;
     font-weight: 300;
     src: url(../fonts/roboto-v20-latin-300.woff) format(woff);
     src: url(../fonts/roboto-v20-latin-300.woff2) format(woff2);
 }
 
 @font-face {
     font-family: roboto;
     font-style: normal;
     font-weight: 400;
     src: url(../fonts/roboto-v20-latin-regular.woff) format(woff);
     src: url(../fonts/roboto-v20-latin-regular.woff2) format(woff2);
 }
 
 img {
     display: block;
     height: auto;
     max-width: 100%;
 }
 
 .wrapper {
     width: 320px;
     margin: 0 auto;
 }
 
 .header {
     text-align: center;
     height: 540px;
     background-image: url(../images/backmob.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     padding-top: 40px;
     margin-bottom: 70px;
 }
 
 li {
     list-style: none;
 }
 
 .nav-list {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 180px;
     margin: auto;
     margin-bottom: 57px;
 }
 
 .nav-list :last-child a {
     border: 2px solid #ffffff;
     border-radius: 30px;
     padding: 15px 25px;
 }
 
 .nav-list a {
     font-family: Montserrat, sans-serif;
     color: #ffffff;
     font-weight: 700;
     font-size: 14px;
     display: inline-block;
     text-decoration: none;
     text-transform: uppercase;
 }
 
 .nav-list a:hover {
     color: #eebb0b;
 }
 
 .navigation {
     margin-bottom: 25px;
 }
 
 .promo-list {
     width: 275px;
     margin: 0 auto;
 }
 
 .partners {
     margin-bottom: 70px;
 }
 
 .title1 {
     font-family: Montserrat, sans-serif;
     font-size: 20px;
     color: #ffffff;
     font-weight: 700;
     text-transform: uppercase;
 }
 
 .title2 {
     font-family: Montserrat, sans-serif;
     font-size: 30px;
     color: #ffffff;
     font-weight: 700;
     text-transform: uppercase;
     margin-bottom: 25px;
 }
 
 .title3 {
     font-family: roboto, sans-serif;
     font-size: 18px;
     color: #ffffff;
     font-weight: 300;
     width: 220px;
     display: block;
     margin: auto;
     text-align: center;
     margin-bottom: 25px;
 }
 
 .title4 {
     background-color: #ff4e50;
     padding: 15px;
     border: none;
     border-radius: 25px;
 }
 
 .title4 a {
     display: inline-block;
     font-family: Montserrat, sans-serif;
     font-size: 14px;
     color: #ffffff;
     font-weight: 700;
     text-decoration: none;
 }
 
 .title-content {
     font-family: Montserrat, sans-serif;
     font-size: 22px;
     color: #000000;
     font-weight: 700;
     margin-bottom: 20px;
     text-align: center;
 }
 
 .items {
     width: 215px;
     text-align: center;
     margin: 0 auto;
     padding-bottom: 50px;
 }
 
 .items :nth-child(4) {
     margin-bottom: 0;
 }
 
 .item {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 200px;
     margin: 0 auto;
     margin-bottom: 30px;
     position: relative;
 }
 
 .item img {
     margin-bottom: 20px;
 }
 
 .item__img::before {
     content: "";
     display: block;
     width: 41px;
     height: 41px;
     position: absolute;
     right: 0;
     bottom: 15px;
     background-repeat: no-repeat;
 }
 
 .icon-1::before {
     background-image: url(../images/icon1.png);
 }
 
 .icon-2::before {
     background-image: url(../images/icon2.png);
 }
 
 .icon-3::before {
     background-image: url(../images/icon3.png);
 }
 
 .icon-4::before {
     background-image: url(../images/icon4.png);
 }
 
 .icon-1 {
     position: relative;
 }
 
 .icon-2 {
     position: relative;
 }
 
 .icon-3 {
     position: relative;
 }
 
 .icon-4 {
     position: relative;
 }
 
 .team-name {
     font-family: Montserrat, sans-serif;
     font-size: 14px;
     font-weight: 700;
     margin-bottom: 20px;
 }
 
 .team-descript {
     font-family: Roboto, sans-serif;
     font-size: 14px;
     font-weight: 300;
     color: #8f8f8f;
 }
 
 .button-2 {
     background-color: #ffffff;
     font-family: Montserrat, sans-serif;
     font-size: 14px;
     font-weight: 700;
     padding: 15px;
     border: 2px solid #ff4e50;
     border-radius: 25px;
     width: 275px;
     margin: 0 auto;
     display: block;
 }
 
 .button-2 a {
     display: block;
     color: #ff4e50;
     text-decoration: none;
 }
 
 @media (min-width: 768px) {
     .header {
         height: 702px;
         background-image: url(../images/backtabl.png);
     }
     .wrapper {
         width: 747px;
     }
     .navigation {
         width: 747px;
         display: flex;
         flex-direction: row-reverse;
         justify-content: space-between;
         align-items: center;
         /* margin: 20px; */
         margin-bottom: 100px;
     }
     .nav-list {
         padding: 0;
         margin: 0;
     }
     .title2 {
         font-size: 52px;
     }
     .title3 {
         font-size: 22px;
         width: 375px;
     }
     .title4 {
         width: 255px;
         margin: auto;
     }
     .promo-list {
         width: 500px;
     }
     .items {
         width: 492px;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
     }
     .item {
         width: 236px;
         margin: 0;
     }
     .title-content {
         padding-bottom: 40px;
     }
 }
 
 @media (min-width: 940px) {
     .header {
         height: 702px;
         background-image: url(../images/backG.png);
     }
     .wrapper {
         width: 940px;
     }
     .navigation {
         width: 939px;
         display: flex;
         flex-direction: row-reverse;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 140px;
     }
     .nav-list {
         padding: 0;
         margin: 0;
     }
     .title2 {
         font-size: 48px;
     }
     .title3 {
         font-size: 22px;
         width: 375px;
     }
     .title4 {
         width: 255px;
         margin: auto;
     }
     .promo-list {
         width: 500px;
     }
     .items {
         width: 938px;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
         margin-bottom: 60px;
         padding-bottom: 0;
     }
     .item {
         width: 220px;
         margin: 0;
     }
     .title-content {
         padding: 0;
         margin-bottom: 50px;
     }
 }